config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y
    depends on BOARD_GISHU

config ZMK_INDICATOR_LED_STRIP
    bool "Enable RGB LED strip for showing battery and output status"
